@model IEnumerable<Test_MVC.Models.Sponsor>

@{
    ViewData["Title"] = "Sponsorzy";
}

<h1>Sponsorzy</h1>

<table id="sponsorsTable" class="hover display">
    <thead>
        <tr>
            <th>
               Nazwa
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |*@
                <a class="btn btn-primary-regular" asp-action="Details" asp-route-id="@item.Id">Sponsorowane wydarzenia</a>
                @*<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>

<p>
    <a class="btn btn-primary-regular" asp-action="Create">Dodaj</a>
</p>
