@{
    ViewData["Title"] = "Wydarzenia";
}


<div class="centeredButtons">   
    <a class="btn btn-primary-regular btn-lg" asp-controller="Trainers" asp-action="Index">Trenerzy</a>
    <a class="btn btn-primary-regular btn-lg" style="margin-top:20px" asp-controller="Organisers" asp-action="Index">Organizatorzy</a>
    <a class="btn btn-primary-regular btn-lg" style="margin-top:20px" asp-controller="Home" asp-action="Operators">Operatorzy</a>
</div>
