@{
    ViewData["Title"] = "Wydarzenia";
}


<div class="centeredButtons">   
    <a class="btn btn-primary-regular btn-lg" asp-controller="Open_Event" asp-action="Index">Wydarzenia otwarte</a>
    <a class="btn btn-primary-regular btn-lg" style="margin-top:20px" asp-controller="Close_Event" asp-action="Index">Wydarzenia zamknięte</a>
    <a class="btn btn-primary-regular btn-lg" style="margin-top:20px" asp-controller="Trainings" asp-action="Index">Treningi</a>
</div>
