@{
    ViewData["Title"] = "Wydarzenia";
}


<div class="centeredButtons">   
    <a class="btn btn-primary-regular btn-lg" asp-controller="CameraOperators" asp-action="Index">Operatorzy kamer</a>
    <a class="btn btn-primary-regular btn-lg" style="margin-top:20px" asp-controller="MusicConsoleOperators" asp-action="Index">Operatorzy konsoli muzycznych</a>
</div>
