@{
    ViewData["Title"] = "Inne";
}

<style>

</style>

<div class="centeredButtons">
    <a class="btn btn-primary-regular btn-lg" asp-controller="Sponsors" asp-action="Index">Sponsorzy</a>
    <a class="btn btn-primary-regular btn-lg" style="margin-top:20px" asp-controller="Cameras" asp-action="Index">Kamery</a>
    <a class="btn btn-primary-regular btn-lg" style="margin-top:20px" asp-controller="Products" asp-action="Index">Produkty</a>
</div>
