@{
    ViewData["Title"] = "Inne";
}


<div style="text-align: center">
    <a class="btn btn-primary-regular" asp-controller="Sponsors" asp-action="Index">Sponsorzy</a>
    <a class="btn btn-primary-regular" asp-controller="Open_Event" asp-action="Index">Otwarte wydarzenia</a>
    <a class="btn btn-primary-regular" asp-controller="Products" asp-action="Index">Produkty</a>
</div>
