@model IEnumerable<Test_MVC.Models.Training>

@{
    ViewData["Title"] = "Index";
}

<h1>Treningi</h1>

<table class="table">
    <thead>
        <tr>
            <th>
               Data rozpoczęcia
            </th>
            <th>
                Nazwa
            </th>
            <th>
                Trenerzy
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                    @foreach(var trainer in item.Trainers)
                    {
                        <a aria-disabled="true" asp-controller="Trainers" asp-action="Details" asp-route-id="@trainer.Id" > @trainer </a><br>
                    }
             </td>
             <td>
                    @if (item.CanTrainerBeAssigned())
                    {
                        <a class="btn btn-primary-regular" asp-controller="Trainers" asp-action="AssignTraining" >Przypisz trenera</a>
                    }
                
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a class="btn btn-primary-regular" asp-action="Create">Dodaj</a>
</p>
