@model IEnumerable<Test_MVC.Models.Training>

@{
    ViewData["Title"] = "Index";
}

<h1>Treningi</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Data rozpoczęcia
            </th>
            <th>
                Nazwa
            </th>
            <th>
                Trenerzy
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                    @foreach(var trainer in item.Trainers)
                    {
                        <a asp-controller="Trainers" asp-action="Details" asp-route-id="@trainer.Id" > @trainer </a><br>
                    }
             </td>
        </tr>
}
    </tbody>
</table>
