@model Test_MVC.Models.Open_Event

@{
    ViewData["Title"] = "Szczegóły";
}

<h1>Szczegóły</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-4">
            Adres
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.StreetAddress)
        </dd>
        <dt class = "col-sm-4">
            Maksymalna ilość miejsc
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.MaxAmountOfPeople)
        </dd>
        <dt class = "col-sm-4">
            Nazwa
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-4">
            Status
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edytuj</a> |
    <a asp-action="Index">Wróć do listy otwartych wydarzeń</a>
</div>
